@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 

font-family: "Inter", sans-serif;
font-family: "Montserrat", sans-serif;

*/

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: "Inter", sans-serif;

}

.centro{
    max-width: 1200px;
    margin: 0 auto;
}


/* ----- Menu ----- */

.menu_box{
    padding: 2% 0%;
}
.menu_box div{
    display: flex;
    justify-content: space-around;
}

.menu_box ul {
    display: flex;
    gap: 10%;
    list-style: none;
}

.menu_box ul li a{
    color: black;
    text-decoration: none;
    font-size: 21px;
}

.menu_box ul li:hover{
    transform: translateY(-7px);
    transition: 0.5s ;
}

.menu_box p{
    font-size: 21px;
}

/* ----- Banner ----- */

.banner_sec {
    height: 60vh;
    background-image: linear-gradient(to right, /*Direção do gradiente*/ 
    rgba(46, 46, 46, 0.8), rgba(28, 28, 28, 0.8)), url(../assets/carne3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
}

.banner_sec h1 span{
    display: block;
}

.banner_sec h1{
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.titulo1_spn{
    color: white;
    font-size: 64px;
    font-weight: 700;
}

.titulo2_spn{
    letter-spacing: 10px;
    color: white;
    font-weight: lighter;
}


