.servico {
    padding: 5rem 1rem;
    background-color: #242424;

    & h1 {
        text-align: center;
        color: white;
        margin-bottom: 8rem;
        font-size: 3rem;
        font-weight: 500;
    }

    & h3{
        font-size: 2.5rem;
        padding: 1rem 0rem;
    }

    & p{
        text-align: center;
        padding-bottom: 1.2rem;
        font-size: 1.7rem;
    }

    & img {
        width: 265px;
        height: 170px;
        transform: translateY(-4.5rem)
    }

    & .centro {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0rem 13rem;
    }

    & .servico_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        padding: 0rem 2rem;
        height: 25rem;
    }

    & .servico_card div {
        display: flex;
        justify-content: center;
        height: 13rem;
    }

}